<div id="banner" class="style-banner">
  <div class="inner">
    <h2 title="and a real name too!">Jessa | Sugar500</h2>
    <p title="I'm hire-able! Please hire me.">Random projects and stuffs.</p>
  </div>
</div>

<style>
  #banner {
    text-align: center;
    overflow: hidden;

    padding: 8rem 0 5rem 0;
    margin: 0 auto;
    width: 100%;
  }

  #banner .inner {
    margin: 0 10% 0 10%;
    width: 80%;
  }

  #banner h2 {
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    font-size: 2.2rem;
    font-weight: 700;

    border-color: inherit;
    border: solid 1px;
    vertical-align: baseline;
    line-height: 1.3rem;
    margin: 0 0 1rem 0;
    border-right: 0;
    border-left: 0;
    padding: 0;
  }

  #banner h2:before {
    content: '';
    display: block;
    border-color: inherit;
    border-top: solid 1px;
    margin: 10px 0 1.25rem 0;
  }

  #banner h2:after {
    content: '';
    display: block;
    border-color: inherit;
    border-bottom: solid 1px;
    margin: 1.25rem 0 10px 0;
  }

  #banner p {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;

    vertical-align: baseline;
    margin: 0 0 2rem 0;
    float: none;
    width: 100%;
    padding: 0;
    border: 0;

    box-sizing: inherit;
  }
</style>