
<!-- feature section 2: code project pages -->
<section id="code-projects" class="style-featured-2">
  <!-- txt features like with multiverse pop-ups -->
  <div class="content">
    <div class="major"><h2>'Finished' Code Projects</h2></div>
    <div class="row horizontal">
      <a href="" class="col-3" title="no seriously, a failed project! oooooooveeeeer scoooooped">
        <h3>Lost Archive</h3>
        <p>A (failed) medieval sims like game. Made at DigiPen.</p>
      </a>

      <a href="" class="col-3">
        <article class="post-preview" title="was a fun project, I learned I don't like implementing PCG">
          <h3>Alchemist's Grove</h3>
          <p>A 3D rouge-like potion throwing game. Made at DigiPen.</p>
        </article>
      </a>

      <a href="" class="col-3" title="designers are fun to work with, custom engine fun though...">
        <h3>Brewl</h3>
        <p>A 2D turn-based potion battling game. Made at DigiPen.</p>
      </a>

      <a href="" class="col-3" title="I would love to refactor this,
       but I don't have contact information with the others.">
        <h3>Witch's Brew</h3>
        <p>A 2D potion making game. Made at DigiPen.</p>
      </a>
    </div>
  </div>
</section>

<style>
  #code-projects {
    padding: 0 0 5rem 0;
  }

  #code-projects .content {
    padding-top: 1rem;
    width: 90%;
    margin: 0 auto 3rem auto;
  }

  #code-projects .horizontal {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }

  #code-projects h3 {
    font-size: 1.17rem;
    font-weight: bold;
  }

  #code-projects .major {
    border-top: solid 5px;

    font-size: 1.05rem;
    text-align: center;
    font-weight: 700;

    position: relative;
    margin: 0 0 3rem 0;
    top: 0.775rem;
  }

  #code-projects .major h2 {
    text-transform: uppercase;

    top: calc(-1 * (0.775rem + 0.3rem));
    padding: 0 1.25rem 0 1.25rem;
    display: inline-block;
    position: relative;
  }

  #code-projects a {
    text-decoration: none;
    color: inherit;
    padding: 0 0 2rem 0;
  }
</style>