<!-- feature section 1: other project landings - arcana highlights like -->
<section id="project-landings" class="style-featured-1">
  <!--  -->
  <div class="inner row gtr-50">
    <!-- world-building -->
    <div class="col-3 col-12-narrower center">
      <div class="box-highlight">
        <!-- icon -->
        <!-- header -->
        <h3 title="the not secret ones">World-building</h3>
        <!-- description -->
        <p title="please check licenses before using said worlds">Are you some kind of writer? Want to use a pre-built
          world for some purpose? Or just want to browse someone else's worlds? Checkout these worlds!</p>
      </div>
    </div>
    <!-- resume -->
    <div class="col-3 col-12-narrower center">
      <div class="box-highlight">
        <!-- icon -->
        <!-- header -->
        <h3 title="currently looking for a career!">Resume</h3>
        <!-- description -->
        <p title="please?">Like this website? Like the projects displayed?
          Looking to hire someone? Checkout me out here!</p>
      </div>
    </div>
    <!-- blog -->
    <div class="col-3 col-12-narrower center">
      <div class="box-highlight">
        <!-- icon -->
        <!-- header -->
        <h3 title="also the not secret ones">Blog Archive</h3>
        <!-- description -->
        <p title="notes anyone?">Random notes, thoughts on various topics, and much, much more!
        Want to know what I'm thinking or researching? Checkout the blog archive.</p>
      </div>
    </div>
    <!-- projects -->
    <div class="col-3 col-12-narrower center">
      <div class="box-highlight">
        <!-- icon -->
        <!-- header -->
        <h3 title="also the not secret ones">Project Archive</h3>
        <!-- description -->
        <p title="notes anyone?">Want to check out things I have worked on? Want to know what
          state something is in or why it isn't finished? Checkout the project archive.</p>
      </div>
    </div>
  </div>
</section>

<style>
  #project-landings {
    text-decoration: none;

    padding: 1rem 0 1rem 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
  }

  #project-landings .inner {
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    display: flex;
  }

  #project-landings .center {
    display: inline-block;
  }

  #project-landings .box-highlight {
    text-align: center;
    text-decoration: none;
  }

  #project-landings h3 {
    letter-spacing: -0.025rem;
    font-size: 1.2rem;
    font-weight: 600;

    line-height: 1.75rem;
    margin-bottom: 1rem;
  }

  #project-landings p {
    margin: 0 0 2rem 0;
  }
</style>
