
* {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-family: "Brush Script MT", cursive;
}

h2, h3, h4, h5, h6 {
    font-family: "Lucida Handwriting", cursive;
}

p {
    font-family: Garamond, serif;
}

/* region Row Style */
:root {
    --total-columns: 12;
    --margin-padding: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    margin-top: calc(var(--margin-padding) * -1);
    margin-left: calc(var(--margin-padding) * -1);
}

    .row > * {
        box-sizing: border-box;
        padding: var(--margin-padding) 0 0 var(--margin-padding);
    }

    .row.gtr-uniform {
        margin-top: calc(var(--margin-padding) * -1);
    }

    .row.gtr-uniform > * {
        padding-top: var(--margin-padding);
    }

/* region Alignments */
.row.aln-left {
    justify-content: flex-start;
}

.row.aln-center {
    justify-content: center;
}

.row.aln-right {
    justify-content: flex-end;
}

.row.aln-top {
    align-items: flex-start;
}

.row.aln-middle {
    align-items: center;
}

.row.aln-bottom {
    align-items: flex-end;
}
/* endregion */

    .row > .imp {
        order: -1;
    }

    .row > [class*="col-"] {
        width: calc(var(--column-width)/var(--total-columns) * 100%);
    }

    .row > [class*="off-"] {
        margin-left: calc(var(--column-offset)/var(--total-columns) * 100%);
    }

/* region Col Definitions */
    .row > .col-1 { --column-width: 1; }
    .row > .col-2 { --column-width: 2; }
    .row > .col-3 { --column-width: 3; }
    .row > .col-4 { --column-width: 4; }
    .row > .col-5 { --column-width: 5; }
    .row > .col-6 { --column-width: 6; }
    .row > .col-7 { --column-width: 7; }
    .row > .col-8 { --column-width: 8; }
    .row > .col-9 { --column-width: 9; }
    .row > .col-10 { --column-width: 10; }
    .row > .col-11 { --column-width: 11; }
    .row > .col-12 { --column-width: 12; }

    .row > .off-1 { --column-offset: 1; }
    .row > .off-2 { --column-offset: 2; }
    .row > .off-3 { --column-offset: 3; }
    .row > .off-4 { --column-offset: 4; }
    .row > .off-5 { --column-offset: 5; }
    .row > .off-6 { --column-offset: 6; }
    .row > .off-7 { --column-offset: 7; }
    .row > .off-8 { --column-offset: 8; }
    .row > .off-9 { --column-offset: 9; }
    .row > .off-10 { --column-offset: 10; }
    .row > .off-11 { --column-offset: 11; }
    .row > .off-12 { --column-offset: 12; }
/* endregion */

:root {
    --gtr-space-0: 0px;
    --gtr-space-25: 13px;
    --gtr-space-50: 25px;
    --gtr-space-150: 75px;
    --gtr-space-200: 100px;
}

.row.gtr-0 { --current-gtr-space: var(--gtr-space-0); }
.row.gtr-25 { --current-gtr-space: var(--gtr-space-25); }
.row.gtr-50 { --current-gtr-space: var(--gtr-space-50); }
.row.gtr-150 { --current-gtr-space: var(--gtr-space-150); }
.row.gtr-200 { --current-gtr-space: var(--gtr-space-200); }

.row[class*="gtr-"] {
    margin-top: calc(var(--current-gtr-space) * -1);
    margin-left: calc(var(--current-gtr-space) * -1);
}

    .row[class*="gtr-"] > * {
        padding: var(--current-gtr-space) 0 0 var(--current-gtr-space);
    }

.row[class*="gtr-"].gtr-uniform {
    margin-top: calc(var(--current-gtr-space) * -1);
}

    .row[class*="gtr-"].gtr-uniform > * {
        padding-top: var(--current-gtr-space);
    }

@media screen and (max-width: 1680px) {

    :root {
        --gtr-space-0: 0px;
        --gtr-space-25: 10px;
        --gtr-space-50: 20px;
        --gtr-space-150: 60px;
        --gtr-space-200: 80px;
        --gtr-space-250: 40px;

        --margin-padding: 40px;
    }

    .row > .imp-wide {
        order: -1;
    }

    /* region Col Definitions */
        .row > .col-1-wide { --column-width: 1; }
        .row > .col-2-wide { --column-width: 2; }
        .row > .col-3-wide { --column-width: 3; }
        .row > .col-4-wide { --column-width: 4; }
        .row > .col-5-wide { --column-width: 5; }
        .row > .col-6-wide { --column-width: 6; }
        .row > .col-7-wide { --column-width: 7; }
        .row > .col-8-wide { --column-width: 8; }
        .row > .col-9-wide { --column-width: 9; }
        .row > .col-10-wide { --column-width: 10; }
        .row > .col-11-wide { --column-width: 11; }
        .row > .col-12-wide { --column-width: 12; }

        .row > .off-1-wide { --column-offset: 1; }
        .row > .off-2-wide { --column-offset: 2; }
        .row > .off-3-wide { --column-offset: 3; }
        .row > .off-4-wide { --column-offset: 4; }
        .row > .off-5-wide { --column-offset: 5; }
        .row > .off-6-wide { --column-offset: 6; }
        .row > .off-7-wide { --column-offset: 7; }
        .row > .off-8-wide { --column-offset: 8; }
        .row > .off-9-wide { --column-offset: 9; }
        .row > .off-10-wide { --column-offset: 10; }
        .row > .off-11-wide { --column-offset: 11; }
        .row > .off-12-wide { --column-offset: 12; }
    /* endregion */
}

@media screen and (max-width: 1280px) {

    :root {
        --gtr-space-0: 0px;
        --gtr-space-25: 8px;
        --gtr-space-50: 15px;
        --gtr-space-150: 45px;
        --gtr-space-200: 60px;

        --margin-padding: 30px;
    }

    .row > .imp-normal {
        order: -1;
    }

    /* region Col Definition */
    .row > .col-1-normal { --column-width: 1; }
    .row > .col-2-normal { --column-width: 2; }
    .row > .col-3-normal { --column-width: 3; }
    .row > .col-4-normal { --column-width: 4; }
    .row > .col-5-normal { --column-width: 5; }
    .row > .col-6-normal { --column-width: 6; }
    .row > .col-7-normal { --column-width: 7; }
    .row > .col-8-normal { --column-width: 8; }
    .row > .col-9-normal { --column-width: 9; }
    .row > .col-10-normal { --column-width: 10; }
    .row > .col-11-normal { --column-width: 11; }
    .row > .col-12-normal { --column-width: 12; }

    .row > .off-1-normal { --column-offset: 1; }
    .row > .off-2-normal { --column-offset: 2; }
    .row > .off-3-normal { --column-offset: 3; }
    .row > .off-4-normal { --column-offset: 4; }
    .row > .off-5-normal { --column-offset: 5; }
    .row > .off-6-normal { --column-offset: 6; }
    .row > .off-7-normal { --column-offset: 7; }
    .row > .off-8-normal { --column-offset: 8; }
    .row > .off-9-normal { --column-offset: 9; }
    .row > .off-10-normal { --column-offset: 10; }
    .row > .off-11-normal { --column-offset: 11; }
    .row > .off-12-normal { --column-offset: 12; }
    /* endregion */
}

@media screen and (max-width: 980px) {

    :root {
        --gtr-space-0: 0px;
        --gtr-space-25: 8px;
        --gtr-space-50: 15px;
        --gtr-space-150: 45px;
        --gtr-space-200: 60px;

        --margin-padding: 30px;
    }

    .row > .imp-narrow {
        order: -1;
    }

    /* region Col Definitions */
    .row > .col-1-narrow { --column-width: 1; }
    .row > .col-2-narrow { --column-width: 2; }
    .row > .col-3-narrow { --column-width: 3; }
    .row > .col-4-narrow { --column-width: 4; }
    .row > .col-5-narrow { --column-width: 5; }
    .row > .col-6-narrow { --column-width: 6; }
    .row > .col-7-narrow { --column-width: 7; }
    .row > .col-8-narrow { --column-width: 8; }
    .row > .col-9-narrow { --column-width: 9; }
    .row > .col-10-narrow { --column-width: 10; }
    .row > .col-11-narrow { --column-width: 11; }
    .row > .col-12-narrow { --column-width: 12; }

    .row > .off-1-narrow { --column-offset: 1; }
    .row > .off-2-narrow { --column-offset: 2; }
    .row > .off-3-narrow { --column-offset: 3; }
    .row > .off-4-narrow { --column-offset: 4; }
    .row > .off-5-narrow { --column-offset: 5; }
    .row > .off-6-narrow { --column-offset: 6; }
    .row > .off-7-narrow { --column-offset: 7; }
    .row > .off-8-narrow { --column-offset: 8; }
    .row > .off-9-narrow { --column-offset: 9; }
    .row > .off-10-narrow { --column-offset: 10; }
    .row > .off-11-narrow { --column-offset: 11; }
    .row > .off-12-narrow { --column-offset: 12; }
    /* endregion */
}

@media screen and (max-width: 840px) {

    :root {
        --gtr-space-0: 0px;
        --gtr-space-25: 8px;
        --gtr-space-50: 15px;
        --gtr-space-150: 45px;
        --gtr-space-200: 60px;

        --margin-padding: 30px;
    }

    .row > .imp-narrower {
        order: -1;
    }

    /* region Col Definitions */
    .row > .col-1-narrower { --column-width: 1; }
    .row > .col-2-narrower { --column-width: 2; }
    .row > .col-3-narrower { --column-width: 3; }
    .row > .col-4-narrower { --column-width: 4; }
    .row > .col-5-narrower { --column-width: 5; }
    .row > .col-6-narrower { --column-width: 6; }
    .row > .col-7-narrower { --column-width: 7; }
    .row > .col-8-narrower { --column-width: 8; }
    .row > .col-9-narrower { --column-width: 9; }
    .row > .col-10-narrower { --column-width: 10; }
    .row > .col-11-narrower { --column-width: 11; }
    .row > .col-12-narrower { --column-width: 12; }

    .row > .off-1-narrower { --column-offset: 1; }
    .row > .off-2-narrower { --column-offset: 2; }
    .row > .off-3-narrower { --column-offset: 3; }
    .row > .off-4-narrower { --column-offset: 4; }
    .row > .off-5-narrower { --column-offset: 5; }
    .row > .off-6-narrower { --column-offset: 6; }
    .row > .off-7-narrower { --column-offset: 7; }
    .row > .off-8-narrower { --column-offset: 8; }
    .row > .off-9-narrower { --column-offset: 9; }
    .row > .off-10-narrower { --column-offset: 10; }
    .row > .off-11-narrower { --column-offset: 11; }
    .row > .off-12-narrower { --column-offset: 12; }
    /* endregion */
}

@media screen and (max-width: 736px) {

    :root {
        --gtr-space-0: 0px;
        --gtr-space-25: 5px;
        --gtr-space-50: 10px;
        --gtr-space-150: 30px;
        --gtr-space-200: 40px;

        --margin-padding: 20px;
    }

    .row > .imp-mobile {
        order: -1;
    }

    /* region Col Definition */
    .row > .col-1-mobile { --column-width: 1; }
    .row > .col-2-mobile { --column-width: 2; }
    .row > .col-3-mobile { --column-width: 3; }
    .row > .col-4-mobile { --column-width: 4; }
    .row > .col-5-mobile { --column-width: 5; }
    .row > .col-6-mobile { --column-width: 6; }
    .row > .col-7-mobile { --column-width: 7; }
    .row > .col-8-mobile { --column-width: 8; }
    .row > .col-9-mobile { --column-width: 9; }
    .row > .col-10-mobile { --column-width: 10; }
    .row > .col-11-mobile { --column-width: 11; }
    .row > .col-12-mobile { --column-width: 12; }

    .row > .off-1-mobile { --column-offset: 1; }
    .row > .off-2-mobile { --column-offset: 2; }
    .row > .off-3-mobile { --column-offset: 3; }
    .row > .off-4-mobile { --column-offset: 4; }
    .row > .off-5-mobile { --column-offset: 5; }
    .row > .off-6-mobile { --column-offset: 6; }
    .row > .off-7-mobile { --column-offset: 7; }
    .row > .off-8-mobile { --column-offset: 8; }
    .row > .off-9-mobile { --column-offset: 9; }
    .row > .off-10-mobile { --column-offset: 10; }
    .row > .off-11-mobile { --column-offset: 11; }
    .row > .off-12-mobile { --column-offset: 12; }
    /* endregion */
}

/*noinspection SpellCheckingInspection*/
@media screen and (max-width: 480px) {

    :root {
        --gtr-space-0: 0px;
        --gtr-space-25: 5px;
        --gtr-space-50: 10px;
        --gtr-space-150: 30px;
        --gtr-space-200: 40px;

        --margin-padding: 20px;
    }

    .row > .imp-mobilep {
        order: -1;
    }

    /* region Col Definitions */
    .row > .col-1-mobilep { --column-width: 1; }
    .row > .col-2-mobilep { --column-width: 2; }
    .row > .col-3-mobilep { --column-width: 3; }
    .row > .col-4-mobilep { --column-width: 4; }
    .row > .col-5-mobilep { --column-width: 5; }
    .row > .col-6-mobilep { --column-width: 6; }
    .row > .col-7-mobilep { --column-width: 7; }
    .row > .col-8-mobilep { --column-width: 8; }
    .row > .col-9-mobilep { --column-width: 9; }
    .row > .col-10-mobilep { --column-width: 10; }
    .row > .col-11-mobilep { --column-width: 11; }
    .row > .col-12-mobilep { --column-width: 12; }

    .row > .off-1-mobilep { --column-offset: 1; }
    .row > .off-2-mobilep { --column-offset: 2; }
    .row > .off-3-mobilep { --column-offset: 3; }
    .row > .off-4-mobilep { --column-offset: 4; }
    .row > .off-5-mobilep { --column-offset: 5; }
    .row > .off-6-mobilep { --column-offset: 6; }
    .row > .off-7-mobilep { --column-offset: 7; }
    .row > .off-8-mobilep { --column-offset: 8; }
    .row > .off-9-mobilep { --column-offset: 9; }
    .row > .off-10-mobilep { --column-offset: 10; }
    .row > .off-11-mobilep { --column-offset: 11; }
    .row > .off-12-mobilep { --column-offset: 12; }
    /* endregion */
}
/* endregion */

/* fonts: color, family */
:root {
    --main-header: #404248;
    --main-paragraph: #7b818c;

    --main-color: whitesmoke;
    --overlay-color: rgba(128, 128, 128, 0.6);

    --accent-color: cadetblue;
    --accent-color-dark: #292b2c;
    --accent-header: #E2DFD2;
    --accent-paragraph: #F9F6EE;
}

.inner {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

a {
    color: var(--accent-color);
}

button {
    transition: all 0.35s ease;
    background: var(--main-color);
    color: var(--main-header);

    text-transform: uppercase;
    letter-spacing: 0.075rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 800;

    display: inline-block;
    position: relative;
    border-radius: 8px;
    padding: 0.8rem 1.6rem;
    outline: 0;
    border: 0;
    vertical-align: middle;

    cursor: pointer;
}

button:hover:not([disabled]) {
    color: var(--accent-color);
    padding: 0.9rem 1.7rem;
}

button:disabled, button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: solid 1px var(--accent-color);
    border-left: 0;
    border-right: 0;
    color: var(--main-paragraph);
}

table tbody tr:nth-child(2n + 1) {
    background-color: var(--accent-color);
    color: var(--accent-header);
}

table td {
    padding: 0.3rem 0.5rem;
}

.article-left:not(.selected),
.article-right:not(.selected),
.article-none:not(.selected),
.creative:not(.selected) {
    display: none;
}

.major {
    border-top: solid 5px;
    font-size: 1.05rem;
    text-align: center;
    font-weight: 700;

    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem 0;
    top: 0.775rem;
}

.major h2 {
    text-transform: uppercase;

    top: calc(-1 * (0.775rem + 1.05rem + 0.5rem));
    padding: 0 1.25rem 0 1.25rem;
    display: inline-block;
    position: relative;
}

.hidden {
    display: none;
}

.box-highlight {
    text-align: center;
}

.style-header {
    color: var(--accent-header);
}

.style-header:not(.not-visible){
    background: var(--accent-color);
}

.style-banner {
    background: url(../assets/images/bg01.png), url(../assets/images/header.jpg) top left, center center;
    background-size: auto, cover;
    color: var(--accent-header);
}

.style-featured-1 {
    text-shadow: 1px 1px 0 var(--main-color);
    background-color: var(--main-color);
    background-image: url(../assets/images/bg03.png), url(../assets/images/bg04.png), url(../assets/images/bg02.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100% 15em, 100% 15em, auto auto;
    background-position: top center, bottom center, top left;
    color: var(--main-paragraph);
}

.style-featured-1 h2, .style-featured-1 h3,
.style-featured-1 h2{
    color: var(--main-header);
}

.style-featured-1 .major h2 {
    background-color: var(--main-color);
    color: var(--main-header);
}

.style-featured-2 {
    background-color: var(--main-color);
    color: var(--main-paragraph);
}

.style-featured-2 h2, .style-featured-2 h3 {
    color: var(--main-header);
}

.style-featured-2 .major h2 {
    background-color: var(--main-color);
    color: var(--main-header);
}

.style-featured-3 {
    text-shadow: 1px 1px 0 var(--main-color);
    background-color: var(--main-color);
    background-image: url(../assets/images/bg03.png), url(../assets/images/bg02.png);
    background-repeat: no-repeat, repeat;
    background-size: 100% 15em, auto auto;
    background-position: top center, top left;
    color: var(--main-paragraph);
}

.style-featured-3 h2, .style-featured-3 h3,
.style-featured-3 h2 {
    color: var(--main-header);
}

.style-featured-3 .major h2 {
    background-color: var(--main-color);
    color: var(--main-header);
}

.overlay {
    transition: opacity 0.35s ease;
    text-align: center;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 2;

    opacity: 0;
    visibility: hidden;
}

body.is-menu-visible .overlay {
    background: var(--overlay-color);
    opacity: 1;
    visibility: visible;
}

.style-menu .inner {
    background-color: var(--accent-color);
    background-image: url(../assets/images/bg03.png), url(../assets/images/bg04.png), url(../assets/images/bg02.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100% 15em, 100% 15em, auto auto;
    background-position: top center, bottom center, top left;
    box-shadow: 2px 3px var(--overlay-color);
    color: var(--accent-header);
}

/* rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)) */
.style-footer {
    background-image: linear-gradient(var(--accent-color), var(--accent-color-dark)),
        url(../assets/images/bg03.png), url(../assets/images/bg02.png);
    background-repeat: repeat-x, no-repeat, repeat;
    background-size: 100% 100%, 100% 15em, auto auto;
    background-position: top left, top center, top left;
    color: var(--accent-paragraph);
}

.style-footer input, .style-footer textarea {
    background: var(--accent-color);
}

.style-footer h1, .style-footer h2, .style-footer h3, .style-footer h4, .style-footer h5, .style-footer h6 {
    color: var(--accent-header);
}

/* background */
/* border color */
